* {
    margin: 0;
    padding: 0;
}
p {
	margin: 5px;
	font-size: 20px;
}
@font-face {
	font-family: "Ermilov";
	src: url("../fonts/Ermilov-bold.otf") format("truetype");
}
h1 {
	font-family: "Ermilov";
	text-decoration: uppercase;
	letter-spacing: 15px;
	font-size: 50px;
	text-align: center;
	color:  white;
	display: block;
	margin: 30px 10% 0;
	padding: 0 15px;
	background: #2E2F45;
	mix-blend-mode: multiply;
	border-radius: 50px 50px 0 0;
}
h2 {
	display: inline-block;
	margin: 1px 3%;
	padding: 0 5px;
	font-size: 20px;
	border: 1px dotted black;
	background-color: white;
}
h3 {
	transition-duration: .5s;
	color: white;
	margin: 0 20%;
	padding: 0 5px;
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	background: #2E2F45;
	mix-blend-mode: multiply;
}
h3:hover {
	transition-duration: .3s;
	color: black;
	background-color: white;
}
h4 {
	font-family: "Ermilov";
	font-size: 100px;
	text-decoration: underline;
	text-align: center;
	color:  white;
	display: block;
	margin: 30px 20% 0;
	padding: 20px 15px;
	background: #2E2F45;
	mix-blend-mode: multiply;
	border-radius: 50px 50px 0 0;
}
h5 {
	font-family: "Ermilov";
	font-size: 50px;
	text-decoration: underline;
	text-align: center;
	color:  white;
	display: block;
	margin: 0 20% 30px;
	padding: 20px 15px;
	background: #2E2F45;
	mix-blend-mode: multiply;
	border-radius: 0 0 50px 50px;
}
h6 {
	font-size: 20px;
	color:  white;
	display: block;
	margin: 0 10% 30px;
	padding: 20px 15px;
	background: #2E2F45;
	mix-blend-mode: multiply;
	border-radius: 0 0 50px 50px;
}
body {
  background: linear-gradient(90deg, #e5f1ff, #ffb8b8, #fbffb8, #fcffe5, #fff7e5, #e5f1ff);
  animation: background 15s infinite alternate;
}
@keyframes background {
  100% {
    background-position: 2000px 0;
  }
}
div {
	position: relative;
	transition-duration: .3s;
	margin: 0 10%;
	padding: 5px;
  background: linear-gradient(90deg, #ffffff 33%, #ecdaff, #71bbff);
  border: 2px solid gray;
}
div:hover {
	transition-duration: .3s;
  background: linear-gradient(90deg, #ffffff, #ecdaff, #71bbff);
  border: 2px solid black;    
}
div:hover h1 {
	background-color: #10bf00;
}
div:hover .complete {
	background-color: #10bf00;
}
div:hover .inprogress {
	background-color: #0088f0;
}
table {
	border-collapse: collapse;
	border: 1px solid black;
  background-color: white;
}
td {
	border: 1px solid black;
	padding: 2px;
	font-size: 20px;
	text-align: center;
}
ul {
	margin-left: 25px;
	font-size: 20px;
	list-style-type: "\1F449";
}
li {
	margin-left: 25px;
	font-size: 20px;
}
.complete {
	display: inline-block;
	background-color: green;
	padding: 2px 15px;
	margin: 5px;
	color: white;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
}
.inprogress {
	display: inline-block;
	background-color: #4169E1;
	padding: 2px 15px;
	margin: 5px;
	color: white;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
}
.pyramid{
	display: inline-block;
	margin: 15px;
	padding: 5px;
    background: black;
	color: white;
	border: 2px solid gray;
	font-weight: 900;
	transition-duration: .7s;
}
.pyramid:hover{
    background: #E0FFFF;
	color: black;
	transition-duration: .7s;
	transform: scale(1.1);
}
.checkAproved {
	font-size: 20px;
	display: inline-block;
	background-color: green;
	padding: 2px 15px;
	margin: 5px;
	color: white;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
	font-weight: 700;
}
.checkAproved:hover {
	background-color: #10bf00;
  	cursor: pointer;
}
label {
	font-size: 20px;
	display: inline-block;
	background-color: #ff6e6e;
	padding: 2px 15px;
	margin: 5px;
	color: white;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
	font-weight: 700;
}
label:hover {
	background-color: #ff4444;
  	cursor: pointer;
}
input[type = checkbox] {
  display: none;
}
input + label:before {
  content: "❌";
}
input:checked + label:before {
  content: "✔️";
}
.approved {
	transition-duration: .3s;
    background: linear-gradient(to bottom right, #d9ffd6, #a4e99f);
    border: 2px solid #69d460;
}
.approved:hover {
	transition-duration: .3s;
  background: linear-gradient(to bottom right, #c8ffc9, #62c95b);
  border: 2px solid #169e0b;
	box-shadow: 5px 3px 3px gray;
}
.approved:after{
	content: "";
	display: block;
	position: absolute; 
	background-image: url("../icon/approved.png");
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 150px 150px;
	right: 2px;
	bottom: 2px;
	width: 150px;
	height: 150px;
	z-index: 100;
	opacity: 0.8;
	animation: 0.2s stamp;
}
@keyframes stamp{
	from {transform: scale(2.0)};
	to {transform: scale(1.0)};
}